/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-oct-2015, 9:41:10
    Author     : inftel05
*/
h1 a{
    color: black;    
}

a.nounderline:link   {   
    text-decoration:none;   
}


.jumbotron {
    text-align: center;
    margin-bottom: 0px;
    /* background: transparent; */
    /* background-size: cover; */
    background-image: url(../img/descarga.jpeg);
    background-repeat: no-repeat;
}

a{
    color: whitesmoke;
    
}

.sidebar {
    width: 20%;
    height:320px;
    float:left;

}
.well {
    width: 80%;
    float:left;
}

.takenote-footer {
    background: #7F807F;
    position: relative;
    margin: 0;
    padding: 0.9rem 10px;
    border-top: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: #747474;
    text-align: center;
}

.active{
    border-radius:0px;
}
.nav{
    background-color: GoldenRod ; 
    font-size: 2rem;
}

//quitar sombra de los nav	
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0px 0px 0 0;
}			
			

			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:GoldenRod;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:red;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:33%;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			.desplegable {
				margin:0px;
				padding:2px;
			}
