.nav{
    background-color: #7BBCFF;
    font-size: 2rem;
}

.nav li a {
    background-color:#7BBCFF;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    text-align: center;
 
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0px 0px 0 0;
}
