

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron{
    text-align: center;
    margin-bottom: 0px
}

a{
    color: whitesmoke;
    
}

.sidebar {
    width: 20%;
    height:320px;
    float:left;

}
.well {
    width: 80%;
    float:left;
}

.takenote-footer {
    background: #333;
    position: relative;
    margin: 0;
    padding: 3rem 15px;
    border-top: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: #747474;
    text-align: center;
}
