/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-oct-2015, 9:40:56
    Author     : inftel06
*/
/*@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
} */


.nav{
    background-color:#F95763;
    text-decoration:none;
}

.nav li a {
    background-color:#F95763;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    text-align: center;
 
}